{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="video-container">
			<video id="video" width="90%" height="1080" controls autoplay>
				<source src="img/videofiestaaesthetic.mp4" type="video/mp4"/>
			</video>

			<div class="row">
				<div class="overlayText">
					<div class="ligaTitle">
						<h1 id="topTitle">
							LigaPapis
						</h1>
						<h1>
							La liga más salvaje
							<br/>
							del mundo.
						</h1>
					</div>
				</div>
			</div>
		</div>
		<h1 id="participantsTitle">
			Participantes
		</h1>
		<div class="teamCarousel">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="..." alt="slide"/>
					</div>
					{% for papi in papis %}
					<div class="carousel-item">
						<figure>
							<img src="{{ asset('papi_avatar/' ~ papi.User.Avatar) }}" alt="Papi"/>
							<figcaption>{{papi.User.Nombre}}
								<br/>
								{{papi.Mensaje}}
							</figcaption>
						</figure>
					</div>
					{% endfor %}
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>-->{% endblock %}
