{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username"><i class="fa-sharp fa-regular fa-envelope"></i> Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
        <label for="password"><i class="fa-solid fa-lock"></i> Contraseña:</label>
        <input type="password" id="password" name="_password">
        <button type="submit">Iniciar sesión</button>
    </form>
{% endblock %}
