{% extends 'base.html.twig' %}

{% block title %}Puntuacion!{% endblock %}

{% block body %}
<div class="table-title">
    <h3>Puntuación</h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Papi</th>
            <th class="text-left">Puntos</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        {% for padre in papis %}
        <tr>
            <td class="text-left"> {{loop.index}}. {{padre.User.Nombre}} </td>
            <td class="text-left"> {{padre.PuntosTotales}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}